*{
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

header, footer{
    background-color: antiquewhite;
    height: 20vh;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

main{
    background-color: cadetblue;
    height: 80vh;
}

nav{
    background-color: darkred;
    height: 40px;

    position: relative;
}

ul{
    display: flex;
    align-items: center;
    height: 100%;
}

li{
    list-style-type: none;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.sub-menu {
    border: 1px solid black;
    width: 100px;
    background-color: gray;
    position: absolute;
    
    top: 40px;
    left: 20px;
}

.sub-menu--ul{
    display: flex;
    flex-direction: column;
}

.sub-menu--li{
    font-weight: bold;
    color: gold;
}

.none{
    display: none;
}